{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}

    <div class="ui container main">
        <h1 class="ui header">Homepage</h1>
        <a href="{{ path("blog_add_entry") }}" class="ui button right floated positive" >New entry</a>
        <div class="divided">
            <h3 class="header">Categories</h3>
            <div class="ui blue labels">
                {% set total=0 %}
                {% for category in categories %}
                    <a class="ui label" href="{{ path("blog_search_by_category",{"category_id":category.id,"page":1}) }}">
                        {{ category.name }}
                        <div class="detail">{{ category.entries.count }}</div>
                    </a>
                    {%set total = total+ category.entries.count %}
                {% endfor %}
                <a class="ui label" href="{{ path("blog_search_by_category",{"category_id":-1,"page":1}) }}">
                    All
                    <div class="detail">{{  total }}</div>
                </a>
            </div>
        </div>
        <div class="ui divided items">
            {% for entry in entries %}
                <div class="item">
                    <div class="image">
                        <img src="{{ asset('uploads/'~entry.image) }}">
                    </div>
                    <div class="content">
                        <a class="header">{{ entry.title }}</a>
                        <div class="meta">
                            <span class="cinema">{{ entry.category.name }}</span>
                        </div>
                        <div class="description">
                            <p>{{ entry.content }}</p>
                        </div>
                        <div class="extra">
                            {% for tag in entry.entryTags %}
                                <div class="ui label">{{ tag.tag.name }}</div>
                            {% endfor %}

                            {% if app.user.id is defined and entry.author.id == app.user.id %}
                                <a href="{{ path("blog_edit_entry",{"id":entry.id}) }}" class="ui button warning right floated">
                                    <i class="ui edit icon"></i>Edit
                                </a>
                                <a href="{{ path("blog_delete_entry",{"id":entry.id}) }}" class="ui button warning right floated">
                                    <i class="ui delete icon"></i>Delete
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% set vars= {'current_page':current_page, 'max_pages':max_pages, 'category_id': category_id} %}
        {% include "@Blog/Partial/pagination.html.twig" with vars %}
    </div>
{% endblock %}